[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Abd El Rahman Nashaat
	email = abdelrahmannashaat92@gmail.com
